{% liquid
  assign savedby = cart.items | where: 'vendor', 'SavedBy' | first
  assign totalPrice = cart.total_price | minus: savedby.final_price
%}

<div class="free-shipping-progress">
  {% assign threshold = free_shipping_threshold | default: 180 %}
  {% assign progress_percentage = totalPrice
    | times: 100
    | divided_by: free_shipping_threshold
    | divided_by: 100
  %}

  {% assign remaining_percentage = 100 | minus: progress_percentage %}
  {% assign remaining_amount = remaining_percentage | times: free_shipping_threshold | divided_by: 100 %}
  {% assign rounded_amount = remaining_amount %}
  {% assign progress_text = progress_msg_text | replace: '{{amount}}', rounded_amount %}

  <div class="progress-bg-bar">
    <div class="progress-bar" style="width: {{ progress_percentage | at_most: 100 }}%;"></div>
  </div>

  {% if progress_percentage >= 100 %}
    <div class="progress-msg free-shipping-msg">
      <p>{{ progress_msg_success_text }}</p>
    </div>
  {% else %}
    <div class="progress-msg">
      <p>{{ progress_text }}</p>
    </div>
  {% endif %}
</div>

<style>
  .free-shipping-progress {
    margin: 10px 0 2rem 0 !important;
    padding: 0 25px !important;
    display: flex;
    flex-direction: column-reverse;
    gap: 7px;
  }

  .progress-bg-bar {
    background: {{ progress_bar_bg_color }};
    border-radius: 33px;
  }

  .progress-bar {
    display: block !important;
    height: 12px;
    background-color: {{ progress_bar_fill_color }};
    border-radius: 33px;
  }

  .progress-msg {
    text-align: center;
    color: {{ settings.progress_msg_color }};
  }

  .progress-msg p {
    margin-bottom: 5px !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }

  .free-shipping-msg {
    font-size: 15px;
  }
</style>
