{% comment %}
  ** Cart page - default view **
  - Template section
{% endcomment %}
{% liquid
  assign savedby = cart.items | where: "vendor", "SavedBy" | first
  assign totalPrice = cart.total_price | minus: savedby.final_price
  assign cartCount = cart.item_count
  if savedby
  assign cartCount = cartCount | minus: 1
  endif
%}

<a name="pagecontent" id="pagecontent"></a>

<div class="main-container">
  <div class="row">
    <div class="wi-100">
      <div class="page-title">
        <h1>{{ 'cart.general.title' | t }}</h1>
      </div>
    </div>
  </div>
</div>

{% if cartCount == 0 %}
  <div class="sixteen columns">
    <div class="section clearfix">
      <div class="six columns offset-by-five">
        <p class="quote">{{ 'cart.general.continue_browsing_html' | t }}</p>

        <a
          href="{% if cart.items.first.product.collections != blank %}{{ cart.items.first.product.collections.last.url }}{% else %}/collections/all{% endif %}"
          class="action_button continue-button add_to_cart"
        >
          {{- 'cart.general.continue_shopping_link_html' | t -}}
        </a>
      </div>
      <br class="clear">
    </div>
  </div>
{% else %}
  <div class="main-container">
    <div class="row">
      <div class="wi-100">
        <form action="/cart" method="post" id="cart_form">
          <div class="section clearfix cart-section-row">
            <div class="ten columns cart-section-left">
              {% assign total_saving = 0 %}
              {% for item in cart.items %}
                {% if item.vendor == 'SavedBy' %}
                  {% continue %}
                {% endif %}
                {% include 'wh_calculate_discount' with item.product %}
                {% include 'wh_variant' with item.variant %}
                {% assign wh_line_price = wh_v_price | minus: 0 | times: item.quantity %}

                {% if wh_v_compare_at_price > wh_v_price %}
                  {% assign saving = wh_v_compare_at_price | minus: wh_line_price %}
                  {% assign total_saving = saving | plus: total_saving %}
                {% endif %}

                <div class="section clearfix cart_content_row" data-id="{{ item.product.id }}">
                  <div class="three columns alpha cart_content_img">
                    <a href="{{ item.url }}" title="{{ item.title | escape }}" class="cart_page_image">
                      <img
                        src="{{ item | img_url: '100x' }}"
                        alt="{{ item.title | escape }}"
                        class="lazyload {{ settings.image_loading_style }}"
                        style="max-width: {{- item.image.width -}}px"
                        data-sizes="auto"
                        data-src="{{ item | img_url: '900x' }}"
                        data-srcset="
                          {{ item | img_url: '300x' }} 300w,
                          {{ item | img_url: '600x' }} 600w,
                          {{ item | img_url: '900x' }} 900w
                        "
                      >
                    </a>
                  </div>

                  <div class="seven columns omega cart_content_info">
                    <h3>
                      <a href="{{ item.url }}">
                        {{- item.product.title }}
                        <span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
                        <span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>
                      </a>
                    </h3>
                    {% comment %}
                    {% endcomment %}

                    {% if item.product.title == 'Gift Wrapping' %}
                      <p class="cart-attribute__field">
                        <label for="gift-message">Gift Message</label>
                        <textarea
                          id="gift-message"
                          type="text"
                          name="attributes[Gift Message]"
                          value="{{ cart.attributes["Gift Message"] }}"
                        ></textarea>
                      </p>
                    {% endif %}
                    {% if item.product.title == 'Gift Card' %}
                      <p class="cart-attribute__field">
                        <label for="gift-message">Gift Message</label>
                        <textarea
                          id="gift-message"
                          type="text"
                          name="attributes[Gift Message-2]"
                          value="{{ cart.attributes["Gift Message-2"] }}"
                        ></textarea>
                      </p>
                    {% endif %}

                    {% unless item.product.has_only_default_variant or item.variant.title contains 'Title' %}
                      <p class="meta">
                        {% for option in item.product.options %}
                          <span class="label">{{ option }}:</span>
                          <span>{{ item.variant.options[forloop.index0] }}</span><br>
                        {% endfor %}
                      </p>
                    {% endunless %}

                    <span
                      class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_properties"
                      style="display:none !important;"
                    ></span>
                    {%- if item.properties %}
                      <p>
                        {% for p in item.properties %}
                          {%- if p.first contains 'Gift' -%}{%- continue -%}{%- endif -%}
                          {%- if p.first.first == '_' -%}{%- continue -%}{%- endif -%}
                          {% unless p.last == blank or p.first == '_preorder_locale' %}
                            {% if p.last contains '/uploads/' %}
                              <div>
                                {% unless p.first contains '_is_preorder' -%}
                                  {%- unless p.first == '_is_preorder' %}{{ p.first }}:{% endunless -%}
                                {%- endunless %}
                                <a class="lightbox" href="{{ p.last }}">{{ 'cart.general.uploaded_file' | t }}</a>
                              </div>
                            {% else %}
                              <div>
                                {% unless p.first contains '_is_preorder' -%}
                                  {%- unless p.first == '_is_preorder' %}{{ p.first }}:{% endunless -%}
                                {%- endunless %}
                                {{ p.last }}
                              </div>
                            {% endif %}
                          {% endunless %}
                        {% endfor %}
                      </p>
                    {% endif %}

                    {% comment %}
                      <p class="modal_price">
                        {% if wh_v_price > 0 %}
                          <span class="">
                          {% if customer.tags.size > 0 %}
                          <span class="saso-cart-item-price" data-key="{{item.key}}">{{ wh_v_price | money }}</span>
                          {% else %}
                          <span class="saso-cart-item-price" data-key="{{item.key}}"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" style="display:none !important;"></span>{{ wh_v_price | money }}</span>
                          {% endif %}
                          </span>
                        {% else %}
                          {{ settings.free_price_text }}
                        {% endif %}

                        {% if wh_v_price < wh_v_compare_at_price %}
                          <span class="product-money was_price">{{ wh_v_compare_at_price | money }}</span>
                        {% endif %}
                      </p>
                    {% endcomment %}
                    <div class="modal_price cart-temp_price">
                      {% if wh_v_compare_at_price > item.price %}
                        <span
                          class="c-cart__itemPrice c-cart__itemdiscountedprice"
                          style="text-decoration: line-through;"
                          rv-html="item.final_line_price | money Currency.currentCurrency"
                          class="c-cart__itemPrice"
                        >
                          {{ wh_v_compare_at_price | money }}
                        </span>

                        <span
                          class="c-cart__itemPrice"
                          rv-html="item.discounted_line_price | money Currency.currentCurrency"
                          class="c-cart__itemPrice"
                        >
                          {{ item.discounted_price | money }}
                        </span>

                      {% elsif item.original_price > item.discounted_price %}
                        <span
                          class="c-cart__itemPrice c-cart__itemdiscountedprice"
                          style="text-decoration: line-through;"
                          rv-html="item.final_line_price | money Currency.currentCurrency"
                          class="c-cart__itemPrice"
                        >
                          {{ item.original_price | money }}
                        </span>

                        <span
                          class="c-cart__itemPrice"
                          rv-html="item.discounted_line_price | money Currency.currentCurrency"
                          class="c-cart__itemPrice"
                        >
                          {{ item.discounted_price | money }}
                        </span>

                      {% else %}
                        <span
                          class="c-cart__itemPrice"
                          rv-html="item.discounted_line_price | money Currency.currentCurrency"
                          class="c-cart__itemPrice"
                        >
                          {{ item.original_price | money }}
                        </span>
                      {% endif %}
                    </div>

                    <div class="product-quantity-box left">
                      <span class="ss-icon product-minus js-change-quantity" data-func="minus"
                        ><span class="icon-minus"></span
                      ></span>
                      <input
                        type="number"
                        min="0"
                        size="2"
                        class="quantity"
                        name="updates[]"
                        {% unless item.variant.inventory_management == blank
                          or item.variant.inventory_policy == 'continue'
                        %}
                          max="{{ item.variant.inventory_quantity }}"
                        {% endunless %}
                        id="updates_{{ item.id }}"
                        value="{{ item.quantity }}"
                        data-line-id="{{ forloop.index }}"
                        data-item-key="{{ item.key }}"
                        {% if settings.limit_quantity
                          and item.variant.inventory_management != blank
                          and item.variant.inventory_quantity > 0
                          and item.variant.inventory_policy == 'deny'
                        %}
                          max="{{ item.variant.inventory_quantity }}"
                        {% endif %}
                      >
                      <span class="ss-icon product-plus js-change-quantity" data-func="plus"
                        ><span class="icon-plus"></span
                      ></span>
                    </div>
                    <cart-remove-button
                      id="Remove-{{ item.index | plus: 1 }}"
                      data-index="{{ item.index | plus: 1 }}"
                      data-item-key="{{ item.key }}"
                    >
                      <a
                        href="{{ item.url_to_remove }}"
                        class="button button--tertiary"
                        aria-label="{{ 'remove' | t: title: item.title }}"
                        onclick="removeItem(event, '{{ item.url_to_remove }}')"
                      >
                        Remove
                      </a>
                    </cart-remove-button>
                  </div>
                </div>
              {% endfor %}
            </div>

            <div class="five columns offset-by-one cart-right-section">
              <div class="section clearfix">
                <div class="subtotal">
                  <p class="cart_subtotal js-cart_subtotal">
                    <span class="right">
                      <span class="">
                        <span class="saso-cart-original-total"
                          ><span
                            class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total"
                            style="display:none !important;"
                          ></span
                          ><span class="wh-original-cart-total"
                            ><span class="ak-upsell-original-price">{{ totalPrice | money }}</span
                            ><span class="ak-upsell-cart-total"></span></span
                          ><span class="wh-cart-total"></span>
                          <div class="additional-notes">
                            <span class="wh-minimums-note"></span><span class="wh-extra-note"></span>
                          </div>
                        </span>
                        <span class="saso-cart-total"></span>
                      </span>
                    </span>
                    <span>{{ 'cart.general.subtotal' | t }}</span>
                  </p>

                  {% if section.settings.display_savings %}
                    <p class="cart_savings sale">
                      {% if total_saving > 0 %}
                        <span class="right">
                          <span class="">{{ total_saving | money }}</span>
                        </span>
                        <span>{{ 'layout.general.savings' | t }}</span>
                      {% endif %}
                    </p>
                  {% endif %}

                  {% if settings.show_multiple_currencies %}
                    <p>
                      <small>
                        {{ 'cart.general.orders_processed_in_currency_html' | t: currency: shop.currency }}
                      </small>
                    </p>
                  {% endif %}

                  {% if section.settings.display_special_instructions %}
                    <label for="note">{{ 'cart.general.note' | t: shop_name: shop.name }}:</label>
                    <textarea id="note" name="note" rows="2">{{ cart.note }}</textarea>
                  {% endif %}

                  {% if section.settings.display_tos_checkbox %}
                    <p>
                      <input type="checkbox" class="tos_agree" id="cart_agree" required>
                      <label class="tos_label" for="cart_agree">
                        {{ 'cart.general.agree_to_terms_html' | t }}
                      </label>
                      {% if settings.tos_page != blank %}
                        <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">
                          {{- 'cart.general.view_terms' | t -}}
                        </a>
                      {% endif %}
                    </p>
                  {% endif %}
                  <input
                    type="submit"
                    class="action_button add_to_cart checkout-cart-page"
                    id="checkout"
                    name="checkout"
                    value="{{ 'cart.general.checkout' | t }}"
                  >

                  {% if section.settings.cart_message != blank %}
                    <div>
                      {{ section.settings.cart_message }}
                    </div>
                  {% endif %}

                  <p>
                    <!-- Store pickup include on cart -->
                    {% include 'creativer-store-pickup_v1_3' %}
                  </p>
                  <div></div>
                  {% if content_for_additional_checkout_buttons %}
                    <div class="additional-checkout-buttons">
                      {% comment %}CreativeR | Store Pickup{% endcomment %}
                      {% comment %}{{ content_for_additional_checkout_buttons }}{% endcomment %}
                    </div>
                  {% endif %}
                  {% if shop.metafields.wh_net.enabled -%}
                    {%- if customer.tags contains 'whnet' %}
                      <div style="margin-top:30px;">
                        <p>{{ shop.metafields.wh_net.wh_net_text }}</p>
                        <a id="wh-30-open" class="button">{{ shop.metafields.wh_net.wh_net_button_text }}</a>
                      </div>
                    {% endif -%}
                  {%- endif %}

                  {% if cartCount > 0 %}
                    <div class="featured-links">
                      <a href="https://lolaandtheboys.com/collections/newarrivals" class="secondary_button">
                        {{- 'cart.general.continue_shopping_link_html' | t -}}
                      </a>
                    </div>
                  {% endif %}
                  <savedby-widget cart-page></savedby-widget>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Cross sell integration -->
  {% include 'cross-sell' %}

  {% include 'cart-shipping-calculator' %}
{% endif %}

<script>
  function removeItem(event, urlToRemove) {
    // Prevent the default behavior of the link
    event.preventDefault();

    // Perform the removal logic, e.g., using AJAX to update the cart on the server

    // Reload the page
    window.location.href = urlToRemove;
  }
</script>

{% schema %}
{
  "name": "Cart page",
  "class": "cart-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_special_instructions",
      "label": "Show \"note\" text box"
    },
    {
      "type": "checkbox",
      "id": "display_tos_checkbox",
      "label": "Show \"agree to terms\" checkbox"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show total savings",
      "default": true
    },
    {
      "type": "richtext",
      "id": "cart_message",
      "label": "Cart message"
    }
  ]
}
{% endschema %}

<style>
    .container.main.content {
        width: 100%;
        max-width: 100%;
    }
     .cart-temp_price .c-cart__itemPrice {
      color: #000 !important;
  }
  .cart-temp_price .c-cart__itemPrice.c-cart__itemdiscountedprice {
      color: red !important;
  }
</style>
<!-- GPO installed -->
