<div class="{{ section.settings.custom_class }}">
  <div class="container">
    <div class="prod-patch-grid narrow-container-custom">
      <div class="prod-left-col">
        {% if section.settings.left-col-img %}
          <img src="{{ section.settings.left-col-img | image_url }}" alt="" width="auto" height="auto">
        {% endif %}
      </div>
      <div class="prod-right-col">
        
        <div class="prod-top-text">
          {% if section.settings.heading != blank %}
            <h3>{{ section.settings.heading }}</h3>
          {% endif %}

          {% if section.settings.right-col-img %}
            <img src="{{ section.settings.right-col-img | image_url }}" alt="" width="auto" height="auto">
          {% endif %}
        </div>

        {% if section.settings.button_title and section.settings.button_url %}
            <a class="shop-now" href="{{ section.settings.button_url }}">
              {{ section.settings.button_title }}
            </a>
        {% endif %}

         {% if section.settings.paragraph != blank %}
          <p>{{ section.settings.paragraph }}</p>
        {% endif %}
        
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Customize Product Patches",
    "settings": [
      {
        "type": "text",
        "id": "custom_class",
        "label": "Custom Class"
      },
      {
        "type": "image_picker",
        "id": "left-col-img",
        "label": "Left Col Image"
      },

      {
        "type": "text",
        "id": "heading",
        "label": "heading"
      },

      {
        "type": "inline_richtext",
        "id": "button_title",
        "label": "Button Title"
      },
      
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link URL"
      },

      {
        "type": "textarea",
        "id": "paragraph",
        "label": "Paragraph"
      },

      {
        "type": "image_picker",
        "id": "right-col-img",
        "label": "Right Col Image"
      },
      
    ],
    "presets": [
    {
      "name": "Customize Product Patches"
    }
  ]
  }
{% endschema %}