{% include 'wh_calculate_discount' with product, hide_method: 'break' %}
{% comment %}
** Header - default view **
- Static section
{% endcomment %}

{% comment %}Mobile navigation{% endcomment %}

{% render 'search-popup-header' %}


<section class="header-custom-c">
{% render 'custom-announce' %}

{% liquid
  assign savedby = cart.items | where: "vendor", "SavedBy" | first
  assign cartCount = cart.item_count
  if savedby
  assign cartCount = cartCount | minus: 1
  endif
%}




<header id="header" class="mobile_nav-fixed--{{ section.settings.fixed_header }}">


  
  {% comment %}
  {% if section.settings.promo_text != blank %}
    <div class="promo_banner">
      {{ section.settings.promo_text }}
      <div class="promo_banner-close"></div>
    </div>
  {% endif %}
  {% endcomment %}
  <div class="top_bar clearfix">
    <a class="mobile_nav dropdown_link" data-dropdown-rel="menu" data-no-instant="true">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span class="menu_title">{{ 'layout.general.menu' | t }}</span>
    </a>
    <a href="{{ shop.url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
      {% if section.settings.logo_mobile != nil %}
        <img src="{{ section.settings.logo_mobile | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
      {% elsif section.settings.logo != nil %}
        <img src="{{ section.settings.logo | img_url: '410x' }}" alt="{{ shop.name | escape }}" />
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
    {% if section.settings.search_enabled %}
      <!-- <a href="/search" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a> -->

      <li class="search_link">
                    <a href="javascript:void(0);" onclick="openFullWidthSearch()" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
                  </li>
      
    {% endif %}
    {% comment %}
    {% include 'iwish_v2' with 'iwishlink' %}
    {% endcomment %}
      <div class="fa fa-heart-o wishlist-mobile-container wishlist-container" > <svg viewBox="0 0 64 64"> <path d="M32.012,59.616c-1.119-.521-2.365-1.141-3.707-1.859a79.264,79.264,0,0,1-11.694-7.614C6.316,42,.266,32.6.254,22.076,0.244,12.358,7.871,4.506,17.232,4.5a16.661,16.661,0,0,1,11.891,4.99l2.837,2.889,2.827-2.9a16.639,16.639,0,0,1,11.874-5.02h0c9.368-.01,17.008,7.815,17.021,17.539,0.015,10.533-6.022,19.96-16.312,28.128a79.314,79.314,0,0,1-11.661,7.63C34.369,58.472,33.127,59.094,32.012,59.616Z"></path></svg><div id="wishlist-count1"><span id="wishlist-count1-value"></span></div></div>
    
        {% if section.settings.show_cart %}
      <div class="cart_container">
{% if customer.tags.size > 0 %}
        <a href="javascript:void();" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count">{{ cartCount }}</span></a>
{% else %}
        <a class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count" data-ajax-cart-bind-state="cart.item_count">{{ cartCount }}</span></a>
{% endif %}
      </div>
    {% endif %}

  </div>
  {% if section.settings.search_enabled %}
    <!-- <div class="dropdown_container center" data-dropdown="search">
      <div class="dropdown search_dropdown_mobile">
        <form action="/search" class="header_search_form">
          {% if settings.search_option != 'everything' %}
            <input type="hidden" name="type" value="product" />
          {% endif %}
          <span class="icon-search search-submit"></span>
          <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
        </form>
      </div>
    </div> -->



    

    
  {% endif %}
  <div class="dropdown_container" data-dropdown="menu">
    <div class="dropdown">
      <ul class="menu" id="mobile_menu">
        {% include 'mobile-menu' with section.settings.main_linklist %}
        {% include 'mobile-menu' with section.settings.main_linklist2 %}
        {% include 'mobile-menu' with section.settings.top_bar_menu %}
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              <a href="/account" data-no-instant>{{ customer.name }}</a>
            </li>
            <li data-no-instant>
              {{ 'layout.customer.log_out' | t | customer_logout_link }}
            </li>
          {% else %}
            <li data-no-instant>
              {{ 'layout.customer.log_in' | t | customer_login_link }}
            </li>
          {% endif %}
        {% endif %}
        {% if settings.show_multiple_currencies %}
          <li>
            {% include 'currencies-switcher' %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
<div id="mobile-custom-linklist">
 <ul id="some-id">
    {%- for link in linklists.mobile-menu.links -%}
      <li>
        <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a>

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
              <li>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
</div>
{% if template contains "index" %}
  {% assign feature_image = true %}
{% elsif template contains "collection" %}
  {% assign feature_image = true %}
{% elsif template contains "blog" %}
  {% assign feature_image = true %}
{% elsif template contains "article" %}
  {% assign feature_image = true %}
{% elsif template contains "contact" %}
  {% assign feature_image = true %}
{% elsif template contains "details" %}
  {% assign feature_image = true %}
{% else %}
  {% assign feature_image = false %}
{% endif %}

{% comment %}Main navigation{% endcomment %}
<header class="{% if feature_image %}feature_image{% endif %} {% if section.settings.logo_home != nil %}secondary_logo--true{% endif %}">
  <div class="header {% if feature_image and settings.header_background == false %}is-absolute {% endif %} header-fixed--{{ section.settings.fixed_header }} {% if settings.header_background %}header-background--solid{% endif %}">
    {% comment %}
    {% if section.settings.promo_text != blank %}
      <div class="promo_banner">
        {{ section.settings.promo_text }}
        <div class="promo_banner-close"></div>
      </div>
    {% endif %}
    {% endcomment %}


    <div class="top_bar clearfix">
      <div class="main-container">
      {% if section.settings.social_icons_header %}
        {% include 'social-icons' %}
      {% endif %}
  

      
    </div>
  </div>

    <div class="main_nav_wrapper">
      <div class="main_nav clearfix menu-position--{{ section.settings.menu_position }} logo-align--{{ section.settings.logo_position }}">

   
        
        {% capture logo %}
          <div class="logo text-align--{{ section.settings.logo_alignment }}">
            <div class="main-container align-items-center justify-content-between logo-inner-main">

                <li class="search_link">
                    <a href="javascript:void(0);" onclick="openFullWidthSearch()" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
                  </li>
                     

          
            <a href="{{ shop.url }}" title="{{ shop.name }}">
              {% if section.settings.logo_home != nil %}
                <img src="{{ section.settings.logo_home | img_url: '410x' }}" class="secondary_logo" alt="{{ shop.name | escape }}" />
              {% endif %}
              {% if section.settings.logo != nil %}
                <img src="{{ section.settings.logo | img_url: '410x' }}" class="primary_logo" alt="{{ shop.name | escape }}" />
              {% else %}
                {{ shop.name }}
              {% endif %}
            </a>
            {% if section.settings.search_enabled %}
              <div class="header-search-login">
                
           <ul class="menu right">  
             
                     {% if section.settings.phone_number != blank %}
          <li><a href="tel:+{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}
        {% if section.settings.top_bar_menu != blank %}
          {% for link in linklists[section.settings.top_bar_menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        {% endif %}
             
            {% if settings.show_multiple_currencies %}
              <li>
                {% include 'currencies-switcher' %}
              </li>
            {% endif %}
            {% if shop.customer_accounts_enabled %}
              <li>
                <a href="/account" class="icon-user" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
              </li>
            {% endif %}
            {% comment %}<li>{% include 'iwish_v2' with 'iwishlink' %}</li>{% endcomment %}
             
             
          </ul>
                
            <div class="header-search-main">
              
          
          

              
              <li class="wish_link">
  <div class="wishlist-container">
   <svg viewBox="0 0 64 64">
      <path d="M32.012,59.616c-1.119-.521-2.365-1.141-3.707-1.859a79.264,79.264,0,0,1-11.694-7.614C6.316,42,.266,32.6.254,22.076,0.244,12.358,7.871,4.506,17.232,4.5a16.661,16.661,0,0,1,11.891,4.99l2.837,2.889,2.827-2.9a16.639,16.639,0,0,1,11.874-5.02h0c9.368-.01,17.008,7.815,17.021,17.539,0.015,10.533-6.022,19.96-16.312,28.128a79.314,79.314,0,0,1-11.661,7.63C34.369,58.472,33.127,59.094,32.012,59.616Z"></path>
    </svg>
    <div id="wishlist-count2">
      <span id="wishlist-count2-value"></span>
    </div>
  </div>
</li>

              <li class="cart_link">
                {% if section.settings.show_cart %}
        <div class="cart_container">
{% if customer.tags.size > 0 %}
          <a href="javascript:void();" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart" data-no-instant>
{% else %}
          <a  class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %}  dropdown_link" data-no-instant>
{% endif %}
            <span class="cart_count"> <span data-ajax-cart-bind-state="cart.item_count">{{ cartCount }}</span></span>
          </a>
          {% unless wh_settings_cart_action == 'ajax'  and template contains 'cart' %}
            <div class="cart_content animated fadeIn">
              <div class="js-empty-cart__message {% if cartCount > 0 %}hidden{% endif %}">
                <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
              </div>
              <form action="/checkout" method="post" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}" class="js-cart_content__form {% if cartCount == 0 %}hidden{% endif %}">
                <a class="cart_content__continue-shopping secondary_button">
                  {{ 'cart.general.continue_shopping_link_html' | t }}
                </a>
                <ul class="cart_items js-cart_items clearfix">
                  {% assign total_saving = 0 %}
                  {% for item in cart.items %}
{% include 'wh_calculate_discount' with item, hide_method: 'skip' %}
                    {% if wh_v_compare_at_price > wh_v_price %}
                      {% assign saving = wh_v_compare_at_price | minus: wh_v_price | times: item.quantity %}
                      {% assign total_saving = saving | plus: total_saving %}
                    {% endif %}

                    <li class="cart_item clearfix">
                      <a href="{{ item.url }}">
                        {% if item.image %}
                          <div class="cart_image">
                            <img src="{{ item | img_url: '320x' }}" alt="{{ item.title | escape }}" />
                          </div>
                        {% endif %}
                        
                        <div class="item_title">
                          {{ item.product.title }}
                          {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                            -
                            {% for option in item.product.options %}
                              {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                            {% endfor %}
                          {% endunless %}
                          {% if item.properties %}
                            {% for p in item.properties %}
                                <div class="line-item">
                                  {{ p.first }}: {{ p.last }}
                                </div>
                            {% endfor %}
                          {% endif %}
                        </div>
                      </a>
                      <div class="left product-quantity-box">
                        <strong class="right price">
                          {% if wh_price < wh_v_compare_at_price %}
                            <span class="product-money was_price">{{ wh_v_compare_at_price | money }}</span>
                          {% endif %}

                          <span class="product-money">{{ wh_price | money }}</span>
                        </strong>
                        <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                        <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-line-id="{{ forloop.index }}" />
                        <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                      </div>
                    </li>
                  {% endfor %}
                </ul>
                <hr />
                <ul>
                  <li class="cart_subtotal js-cart_subtotal">
                    <span class="right">
                      <span class="product-money">{{ cart.total_price | money }}</span>
                    </span>
                    <span>{{ 'layout.general.subtotal' | t }}</span>
                  </li>
                  {% if settings.display_savings %}
                    <li class="cart_savings sale js-cart_savings">
                      {% if total_saving > 0 %}
                        <span class="right">
                          <span class="product-money">{{ total_saving | money }}</span>
                        </span>
                        <span>{{ 'layout.general.savings' | t }}</span>
                      {% endif %}
                    </li>
                  {% endif %}
                  <li>
                    {% if settings.display_special_instructions and settings.go_to_checkout %}
                      <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>
                    {% endif %}

                    {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                      <p class="tos">
                        <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                          <label class="tos_label">
                            {{ 'cart.general.agree_to_terms_html' | t }}
                          </label>
                          {% if settings.tos_page != blank %}
                            <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                          {% endif %}
                      </p>
                    {% endif %}

                    {% if settings.cart_message != blank %}
                      <div class="cart_text">
                        {{ settings.cart_message }}
                      </div>
                    {% endif %}

                    <input type="submit" class="action_button" value="{% if settings.go_to_checkout %}{{ 'layout.general.checkout' | t }}{% else %}{{ 'layout.general.go_to_cart' | t }}{% endif %}" />
                  </li>
                </ul>
              </form>
            </div>
          {% endunless %}
        </div>
      {% endif %}
              </li>
            </div>
              
        
              </div>
              
          {% endif %}
          </div>
          </div>
        {% endcapture %}

        {% assign vertical_menu = section.settings.vertical_menu %}

        {% capture menu_left %}
          {% if vertical_menu %}
            {% include 'vertical-menu' with section.settings.main_linklist %}
          {% else %}
            {% include 'menu' with section.settings.main_linklist %}
          {% endif %}
        {% endcapture %}

        {% capture menu_right %}
          {% if vertical_menu %}
            {% include 'vertical-menu' with section.settings.main_linklist2 %}
          {% else %}
            {% include 'menu' with section.settings.main_linklist2 %}
          {% endif %}
          
        {% endcapture %}
    {% if section.settings.logo_position == "left" or section.settings.menu_position == "block" %}
          {{ logo }}
         {% endif %}
        
          <div class="header-mega-menu">
            <div class="menu-container">
              <div class="menu-container-row">
                <ul class="site-nav list--inline" id="sitenav"></ul>
               
              </div>
            </div>
          </div>
      
         {% comment %}
        {% if section.settings.logo_position == "left" or section.settings.menu_position == "block" %}
          {{ logo }}
          <div class="nav">
            <ul class="menu {{ section.settings.menu_alignment }} clearfix">
              {{ menu_left }}
              {{ menu_right }}
            </ul>
          </div>
        {% else %}
          <div class="nav">
            <ul class="menu {{ section.settings.menu_alignment }} clearfix">
              {{ menu_left }}
            </ul>
          </div>
          {{ logo }}
          <div class="nav">
            <ul class="menu {% if section.settings.menu_alignment == 'align_left' %}align_right{% elsif section.settings.menu_alignment == 'align_right' %}align_left{% else %}{{ section.settings.menu_alignment }}{% endif %} clearfix">
              {{ menu_right }}
            </ul>
          </div>
        {% endif %}
        
        {% if section.settings.search_enabled %}
          <div class="dropdown_container center" data-dropdown="search">
            <div class="dropdown">
              <form action="/search" class="header_search_form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"></span>
                <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
              </form>
            </div>
          </div>
        {% endif %}
        {% endcomment %}
        
        {% include 'sub-menu' with section.settings.main_linklist %}
        {% include 'sub-menu' with section.settings.main_linklist2 %}
      </div>
    </div>
  </div>
<a href="back-to-top" id="back-to-top" class="back-to-top u-center u-padding-t--lg" onclick="return false" style="display: block;"> <span class="icon icon--arrow-up--lg icon--sm u-color--black"> <img src="https://cdn.shopify.com/s/files/1/0002/0647/1226/t/31/assets/top-arrow.png?v=1623066046"> <span class="u-screen-reader">Return to Top</span></span>
</a>
</header>
</section>

<style>

 .full-width-overlay .product-item a.product-title {
    letter-spacing: 0px;
}
  
   .full-width-overlay .header_search_form .search-submit {
        font-size: 20px !important;
    }
.header .main_nav_wrapper .main_nav .logo .logo-inner-main a {
    margin: 0 auto;
}
.full-width-overlay .collection-product-list-wrap h4 {
    margin-bottom: 0 !important;
    line-height: 1 !important;
        padding-bottom: 0 !important;
}
.full-width-overlay .product-item a.product-title {
    font-size: 12px !important;
}
.full-width-overlay  .product-item p.product-price {
    font-size: 11px !important;
}
  
.shop-best-btn {
    text-align: center;
    margin-top: 70px;
display:none;
}

.shop-best-btn a{
     background: #000;
    color: #fff;
padding:15px 30px
}
 header .cart_container {
    z-index: 1;
}

  
  @media screen and (max-width: 769px) {
   

html:has(.full-width-overlay.mobilesearch-overflowhidden) {
    overflow: hidden;
}


    
.shop-best-btn {
display:block !important;
}
.full-width-overlay .collection-product-list .product-item h4{
  margin-bottom:0 !important;
}
   .full-width-overlay .header_search_form {
    padding: 0px 15px 0 !important;

}

  .full-width-overlay   .header_search_form .search-submit {
        top: 32px !important;
        left: 7px;
        right: 0;
        width: min-content;
        display: inline-block;
    }
.full-width-overlay .close-overlay {
        top: -4px;
        right: -8px;
        position: relative;
        order: 1;
        padding: 8px 25px 0px 0;
    }
 #fullWidthSearchOverlay .sidebar-menu-wrap ul li {
    width: max-content;
    min-width: max-content;
}
#fullWidthSearchOverlay .overlay-body-content ul li a {
        border: 1px solid #000;
        border-radius: 25px;
        padding: 5px 16px !important;
        text-align: center;
        font-size: 14px;
  font-weight: 300 !important;
    }
    

#fullWidthSearchOverlay .header_search_form {
    border: 1px solid #000 !important;
          order: 2;
}
#fullWidthSearchOverlay .header_search_form input {
          margin-bottom: 0px !important;
        padding: 25px 10px;
}
    

 .full-width-overlay .collection-product-wrap h3 {
    color: #000;
}
 .full-width-overlay .collection-product-list .product-item a.product-title {
    font-weight: 400 !important;
}
    
    
 .full-width-overlay .header_search_form {
    margin:0;
}
    
 .full-width-overlay .overlay-content{
  height:100% !important;
}
 .full-width-overlay .search-wrap {
    margin-bottom: 20px;
   margin-top:20px;
}
    
	 .full-width-overlay .trending-searches-wrapper{
	    overflow: scroll;
        padding-bottom: 15px;
	}
    
 .full-width-overlay .sidebar-menu-wrap ul {
    display: flex;
    width: 600px;
          gap: 5px !important;
}
	
	
   .full-width-overlay .collection-product-wrap h3 {
    text-align: left;
		 	margin-bottom:10px !important;
}

 .full-width-overlay .overlay-body-content{
flex-direction:column;
  gap:20px !important;
}

 .full-width-overlay .collection-product-wrap, .sidebar-menu-wrap{
width:100% !important;
}
 .full-width-overlay .collection-product-list-wrap{
    overflow: auto;
	    scrollbar-width: none;
}

 .full-width-overlay .overlay-content {
    padding: 0 10px 30px !important;
	    overflow-x: auto;
           overflow-y: hidden;
}

 .full-width-overlay .collection-product-list {
    gap: 5px !important;
	    width: 150vw;
	flex-wrap:nowrap !important;
}


 .full-width-overlay .product-item {
    width:25% !important;
}
    
}

.full-width-overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
}

.full-width-overlay.active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}


.full-width-overlay {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  z-index: 99999999 !important;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
}


.overlay-content {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    height: auto;
    background: #fff;
    padding: 0 40px 50px;
}
#fullWidthSearchOverlay .product-title{
    text-transform: capitalize;
}

#fullWidthSearchOverlay .product-price{
font-weight:300 !important;
}
.close-overlay {
  /* position: absolute;
  top:0;
  right: 40px; */
  cursor:pointer;
}
.search-wrap {
  display:flex;
  align-items:center;
}
  
.search-bar {
  display: flex;
  align-items: center;
  padding: 0;
  max-width: 600px;
  width: 100%;
  border-bottom: 1px solid #000;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

  .search-bar input[type=text] {
    border:none;
    margin:0;
    background-color: #fff;
    overflow: hidden;
    padding-left: 16px;
    outline: none;
    font-size: 16px;
    font-weight:400;
    height: 24px !important;
    min-height: 24px !important;
    line-height: 24px !important;
    width: 100%;
    margin: 8px 0;
  }

  input[type=text]::placeholder {
    color:#A3A3A3;
  }

.overlay-body-content {
  display: flex;
  gap: 20px;
  max-width: 1050px;
  margin: 0 auto;
 
}

.main_nav div.logo .overlay-content .product-item a {
  font-size: 14px !important;
  font-weight: 600;
  line-height: 19px !important;
  padding: 0 !important;
  margin: 10px 0;
  letter-spacing:0.3px;
}

.main_nav div.logo .overlay-content a {
  color:#000 !important;
  font-family: "Proxima Nova Rg" !important;
}

.main_nav div.logo .overlay-content h4 {
  padding:0;
  margin:0;
}

/* .header .main_nav_wrapper .main_nav .logo .overlay-content a {
  font-family: 'Proxima Nova Rg', sans-serif !important;
} */

.trending-searches {
  width: 30%;
}

.trending-searches h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.trending-searches ul {
  list-style: none;
  padding: 0;
}

.trending-searches ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.trending-searches ul li a:hover {
  text-decoration: underline;
}

.collection-product-wrap {
  width: 75%;
}

.sidebar-menu-wrap {
  width:25%;
}

.sidebar-menu-wrap .menu-heading {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 1px;
  color: #000;
  margin:0 0 10px;
} 
  
.collection-product-wrap h3 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.12px;
    line-height: 22px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.collection-product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  width:calc(25% - 20px)
}

.product-item a {
  margin:0;
}

.product-item img {
  max-width: 100% !important;
  aspect-ratio: 4 / 5;
  object-fit: cover;
  display:block;
}

.product-item a.product-title {
  font-size: 16px;
  font-weight:600;
  line-height:24px;
  padding:0;
  color:#000 !important;
  margin: 10px 0;
  color: #333;
}
 
.product-item p.product-price {
  font-size: 13px;
  font-weight:400;
  color: #605e5c;
  margin:0;
  font-family: "Proxima Nova Rg" !important;
}

.sidebar-menu-wrap ul {
  margin:0;
  padding:0;
} 

.sidebar-menu-wrap ul li {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

.sidebar-menu-wrap ul li a {
  font-size: 13px;
  line-height:13px;
  margin: 0;
  padding: 0;
  display: block !important;
  width: 100%;
}

#fullWidthSearchOverlay .header .main_nav_wrapper .main_nav  li {
    padding: 0 !important;
}

.product-item a {
  float:none !important;
}
 

  
  .main_nav div.logo a {
    padding-top: {{ section.settings.logo_top_padding }}px;
    padding-bottom: {{ section.settings.logo_top_padding }}px;
  }

  .header .main_nav_wrapper .main_nav .logo .logo-inner-main .header-search-main .search_link {
    display:block;
  }

  div.logo img {
    max-width: {{ section.settings.logo_display_width }}px;
  }

  .nav {
    {% if section.settings.menu_position == "block" %}
      width: 100%;
      clear: both;
    {% elsif section.settings.logo_position == "left" %}
      width: 84%;
      float: left;
    {% else %}
      width: 42%;
      float: left;
    {% endif %}
  }

  {% if section.settings.menu_top_padding %}
    .nav ul.menu {
      padding-top: {{ section.settings.menu_top_padding }}px;
      padding-bottom: {{ section.settings.menu_top_padding }}px;
    }

    .sticky_nav ul.menu, .sticky_nav .mini_cart {
      padding-top: {{ section.settings.menu_top_padding | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.menu_top_padding | divided_by: 2 }}px;
    }
  {% endif %}

  {% unless section.settings.show_cart %}
    #header .top_bar .icon-search {
      right: 15px;
    }
  {% endunless %}

  {% if section.settings.fixed_header == false %}
    @media only screen and (max-width: 798px) {
      .header-section {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  {% endif %}

  

</style>

{% schema %}

{
  "name": "Header",
  "class": "header-section",
  "settings": [
  {
    "type": "collection",
    "id": "collection",
    "label": "Collection"
  },
    
    {
     "type": "header",
     "content": "Top bar"
    },
  {
			"type":"checkbox",
			"id":"show_announcement_bar",
			"label":"Show Annoucement Bar"
		},
      {
      	"type":"checkbox",
			"id":"show_countdown",
			"label":"Show Countdown"
		},
    {
      	"type":"text",
			"id":"countdown_end_date",
			"label":"Date Countdown"
		},
        {
          "type": "color",
          "id": "bck_clr",
          "label": "Background Color"
        },
        {
          "type": "url",
          "id": "Annouce_url",
          "label": "Link to"
        },
        {
          "type": "color",
          "id": "txt_clr",
          "label": "Font Color"
        },
		{
			"type":"html",
			"id":"text",
			"label":"Text"
		},
		
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Top bar menu",
      "info": "This menu won't show dropdown items"
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
     "type": "header",
     "content": "Logos"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 100px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
     "type": "header",
     "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist3",
      "label": "Search Overlay Menu"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
     "type": "header",
     "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Enable search",
      "default": true
    },
    
    {
     "type": "header",
     "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ],
      "default": "inline"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    },
    {
      "type": "range",
      "id": "logo_top_padding",
      "label": "Logo top padding ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627))",
      "min": 0,
      "max": 30,
      "default": 10,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "menu_top_padding",
      "label": "Main menu top padding ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006910627))",
      "min": 0,
      "max": 30,
      "default": 0,
      "unit": "px"
    }
  ],
    "blocks": [
    {
      "name": "Announcement Slider",
      "type": "Announcement_slider",
      "settings": [
        {
          "type": "text",
          "id": "content",
          "label": "Announcement"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Announcement Link"
        }
      ]
 }
  ]


}

{% endschema %}
<script>

 function updateWishlistCount() {
    var wishlistCountSpan = document.querySelector('.wk-counter');
    var wishlistCountValueSpan1 = document.getElementById('wishlist-count1-value');
    var wishlistCountValueSpan2 = document.getElementById('wishlist-count2-value');

    wishlistCountValueSpan1.innerText = wishlistCountSpan ? wishlistCountSpan.innerText : '0';
    wishlistCountValueSpan2.innerText = wishlistCountSpan ? wishlistCountSpan.innerText : '0';
}

function setupButtonClickEventListeners() {
    var wkButtons = document.querySelectorAll('.wk-button');
    wkButtons.forEach(function (button) {
        button.addEventListener('click', updateOnButtonClick);
    });
}

function updateOnButtonClick() {
    updateWishlistCount();
}

updateWishlistCount();

setupButtonClickEventListeners();

setInterval(function () {
    updateWishlistCount();
}, 0);


function openFullWidthSearch() {
  document.querySelector(".full-width-overlay").classList.add("active");
  document.documentElement.classList.add("mobilesearch-overflowhidden");
}



function closeFullWidthSearch() {
  document.querySelector(".full-width-overlay").classList.remove("active");
  document.documentElement.classList.remove("mobilesearch-overflowhidden");
}




const overlay = document.getElementById('fullWidthSearchOverlay');
const overlayContent = document.querySelector('.overlay-content');


function closeOverlay() {
  overlay.classList.remove('active');
}
overlay.addEventListener('click', function (event) {

  if (!overlayContent.contains(event.target)) {
    closeOverlay();
  }
});


overlayContent.addEventListener('click', function (event) {
  event.stopPropagation(); 
});


document.addEventListener('keydown', function(event) {
  if (event.key === 'Escape') {
    closeOverlay(); 
  }
});

  
</script>


<script>

function bindSearchEvents() {
  const searchInput = document.getElementById('instantSearchInput');

  // Handle typing in search input
  searchInput.addEventListener('input', function () {
    const query = this.value.trim();
    const searchResultsContainer = document.getElementById('searchResults');
    const collectionResultsContainer = document.getElementById('collectionResults');
    const trendingSearchesWrapper = document.querySelector('.trending-searches-main');
    const collectionSearchesWrapper = document.querySelector('.collection-searches-wrapper');
    const popularProducts = document.getElementById('popular-products');
    const recommendedProducts = document.getElementById('recommended-products');
    const viewAllResultsButton = document.getElementById('viewAllResultsButton');

    if (query.length > 1) {
      trendingSearchesWrapper.style.display = 'none';
      collectionSearchesWrapper.style.display = 'block';
      popularProducts.style.display = 'none';
      recommendedProducts.style.display = 'block';

      // Update View All button
      viewAllResultsButton.href = `/search?q=${encodeURIComponent(query)}`;
      viewAllResultsButton.innerHTML = `View All Results for "${query}"`;
      viewAllResultsButton.style.display = 'inline-block';

      fetch(`/search/suggest.json?q=${encodeURIComponent(query)}&resources[type]=product,collection&resources[limit]=8`)
        .then(response => response.json())
        .then(data => {
          // Clear old results
          searchResultsContainer.innerHTML = '';
          collectionResultsContainer.innerHTML = '';

          // Products
          const filteredProducts = data.resources.results.products
            .slice(0, 4)
            .filter(product => !product.tags.includes('hide-from-search'));

          if (filteredProducts.length > 0) {
            filteredProducts.forEach(product => {
              const formattedPrice = Shopify.formatMoney(product.price, "{{ shop.money_format }}");
              const productHtml = `
                <div class="search-result-item product-item">
                    <a href="${product.url}">
                        <img class="product-img" src="${product.image.replace(/(\.[^.]*)$/, '_400x$1')}" alt="${product.title}" />
                        <h4><a class="product-title" href="${product.url}">${product.title}</a></h4>
                        <p class="product-price">${formattedPrice}</p>
                    </a>
                </div>
              `;
              searchResultsContainer.innerHTML += productHtml;
            });
          } else {
            searchResultsContainer.innerHTML = '<p>No products found</p>';
            viewAllResultsButton.style.display = 'none';
          }


          // ID of the collection you want to hide
const hiddenCollectionId = "300587712614"; // 🔑 replace with your real collection ID

if (data.resources.results.collections.length > 0) {
  data.resources.results.collections.slice(0, 4).forEach(collection => {
    if (String(collection.id) !== hiddenCollectionId) {
      const collectionHtml = `
        <li class="collection-result-item">
            <a href="${collection.url}">${collection.title}</a>
        </li>
      `;
      collectionResultsContainer.innerHTML += collectionHtml;
    }
  });

  // If the only result was hidden, fallback
// If nothing left after filtering
if (collectionResultsContainer.innerHTML.trim() === '') {
  collectionResultsContainer.innerHTML = '<li>No collections found</li>';
}
} else {
  collectionResultsContainer.innerHTML = '<li>No collections found</li>';
}



        })
        .catch(error => {
          console.error('Error fetching search results:', error);
          searchResultsContainer.innerHTML = '<p>Error fetching results</p>';
          collectionResultsContainer.innerHTML = '<p>Error fetching collections</p>';
        });

    } else {
      trendingSearchesWrapper.style.display = 'block';
      collectionSearchesWrapper.style.display = 'none';
      popularProducts.style.display = 'block';
      recommendedProducts.style.display = 'none';
      searchResultsContainer.innerHTML = '';
      collectionResultsContainer.innerHTML = '';
      viewAllResultsButton.style.display = 'none';
    }
  });

  // Handle pressing Enter
  searchInput.addEventListener('keydown', function (event) {
    if (event.key === 'Enter') {
      event.preventDefault();
      const query = this.value.trim();
      if (query.length > 0) {
        window.location.href = `/search?q=${encodeURIComponent(query)}&type=product`;
      }
    }
  });

  // Close overlay click
  document.querySelector('.close-overlay').addEventListener('click', function () {
    searchInput.value = '';
    document.getElementById('searchResults').innerHTML = '';
    document.getElementById('collectionResults').innerHTML = '';
    document.querySelector('.trending-searches-main').style.display = 'block';
    document.querySelector('.collection-searches-wrapper').style.display = 'none';
    document.getElementById('popular-products').style.display = 'block';
    document.getElementById('recommended-products').style.display = 'none';
    document.getElementById('viewAllResultsButton').style.display = 'none';
    closeFullWidthSearch();
  });

  // Click on form area focuses input
  document.querySelector('.header_search_form').addEventListener('click', function () {
    this.querySelector('input').focus();
  });
}

function openFullWidthSearch() {
  const overlay = document.querySelector(".full-width-overlay");
  const searchWrap = overlay.querySelector(".header_search_form");

  // Recreate the input every time
  searchWrap.innerHTML = `
    <span class="icon-search"></span>
    <input type="text" id="instantSearchInput" placeholder="Search" />
  `;

  const searchInput = document.getElementById('instantSearchInput');

  overlay.classList.add("active");
  document.documentElement.classList.add("mobilesearch-overflowhidden");

  // Focus immediately for mobile keyboard
  searchInput.focus();

  // Keep cursor after animation
  setTimeout(() => {
    searchInput.focus();
  }, 300);

  // Rebind events to new input
  bindSearchEvents();
}

function closeFullWidthSearch() {
  document.querySelector(".full-width-overlay").classList.remove("active");
  document.documentElement.classList.remove("mobilesearch-overflowhidden");
}

  
</script>



            


        


            
   <script>
document.addEventListener("DOMContentLoaded", () => {
  const header = document.querySelector(".header-custom-c");
  let lastScrollY = window.scrollY;
  let ticking = false;
  let lastDirection = null;
  const threshold = 80; // distance before hiding starts
  const buffer = 50; // prevent flicker near page bottom

  function handleScroll() {
    const currentScrollY = window.scrollY;
    const maxScroll = document.body.scrollHeight - window.innerHeight;
    const isMobile = window.innerWidth <= 991;

    if (!isMobile) {
      header.classList.remove("hidden");
      return;
    }

    // Avoid flicker when near bottom
    if (maxScroll - currentScrollY < buffer) {
      header.classList.remove("hidden");
      lastScrollY = currentScrollY;
      ticking = false;
      return;
    }

    const direction = currentScrollY > lastScrollY ? "down" : "up";

    if (direction !== lastDirection) {
      if (direction === "down" && currentScrollY > threshold) {
        header.classList.add("hidden");
      } else {
        header.classList.remove("hidden");
      }
      lastDirection = direction;
    }

    lastScrollY = currentScrollY;
    ticking = false;
  }

  window.addEventListener("scroll", () => {
    if (!ticking) {
      window.requestAnimationFrame(handleScroll);
      ticking = true;
    }
  });
});
</script>




                        <script>
              document.addEventListener("DOMContentLoaded", () => {
  const header = document.querySelector('.header-custom-c'); // or your header selector
  const content = document.querySelector('.content-main');
  if (!header || !content) return;

  const setOffset = () => {
    const headerHeight = header.offsetHeight;
    content.style.marginTop = `${headerHeight}px`;
  };

  // Run once initially
  setOffset();

  // Run again after all resources loaded (images/fonts can change height)
  window.addEventListener('load', setOffset);

  // Run on resize (in case of responsive height change)
  window.addEventListener('resize', () => requestAnimationFrame(setOffset));

  // Watch for DOM changes in header (e.g. countdown added/removed)
  const observer = new MutationObserver(() => setOffset());
  observer.observe(header, { childList: true, subtree: true, attributes: true });
});

            </script>